<!DOCTYPE html>
<html lang="en" class="fp">
<head>
   <meta charset="UTF-8">
   <title>T Blog login</title>

   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/root.min.css">
   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/fonts.min.css">

   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/menu.css">
   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/form.min.css">
   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/button.css">
   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/TabbedViewDockManager.min.css">
   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/fonts/font-awesome.min.css">

   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/fonts/themify-icons/themify-icons.min.css">
   <link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/core.css">
   <!--<link rel="stylesheet" href="../static/css/vendor/bumble-bee-css/css/coreBreakDown/tooltip.css">-->
   <link rel="stylesheet" href="../static/css/custom.css">
</head>
<body class="fp">
<div class="blk fp global-host ys">
   <section class="container home fp ctr-c-hv">
      <div class="fph6 fpv7 bg-clr10 rc6 flex-cols-2-1">
         <div class="rctl6 rcbl6 ctr-c-hv logo-side _pd">
            <div class="h200 w200 rc50p bdr pd10 ctr">

            </div>
            <h2>TOUR BLOG</h2>
         </div>

         <div class="ctr-c-hv rctr6 rcbr6 form-side _pd">
            <div class="fpha contact-form container bg-clr-tr pdlr15p">
               <form action="/login" class=" pdtb20">
                  <div class="fields-row">
                     <input class="rc3 ctr" type="username" placeholder="Email" title="" name="username">
                  </div>
                  <div class="fields-row">
                     <input class="rc3 ctr bd-clr-tr" type="password" placeholder="Password" title="" name="password">
                  </div>
                  <div class="fields-row ctr">
                     <button class="pdlr20 pdtb10 rc3 mtb25 clr2">SIGN IN</button>
                  </div>
               </form>
               <div>
                  forgot password?
               </div>
            </div>
         </div>
      </div>
   </section>

</div>
</body>
</html>